<h1 mat-dialog-title class="text-center">Password</h1>
<div mat-dialog-content>

      <form [formGroup]="myPasswordForm">
        <div>
          <label for="url" class="form-group">Url</label>
          <input type="url" class="form-control" formControlName="url">
        </div>
        <div>
          <label for="" class="form-group">Email</label>
          <input type="email" class="form-control" formControlName="email">
        </div>
        <div>
          <label for="" class="form-group">Username</label>
          <input type="text" class="form-control" formControlName="username">
        </div>
        <div>
          <label for="" class="form-group">Password</label>
          <input type="password" class="form-control" formControlName="password">
        </div>
        <div>
          <label for="" class="form-group">Pin</label>
          <input type="password" class="form-control" formControlName="pin">
        </div>
      </form>
    </div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button [disabled]="!myPasswordForm.valid" (click)="save()" class="btn-primary" >Save</button>

</div>
