<!-- <div *ngIf="appService.isLoading|async">
  <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
</div> -->
<ngx-spinner type="square-jelly-box">Loading...</ngx-spinner>

<div class="view"><router-outlet></router-outlet></div>
<!-- <div class="container">
  <input type="radio" name="colors" value="green" [(ngModel)]="color">Green
  <input type="radio" name="colors" value="yellow" [(ngModel)]="color">Yellow
  <input type="radio" name="colors" value="cyan" [(ngModel)]="color">Cyan
  <input type="text" appDatePicker>
</div> -->
<!-- <p appHighlight>Bidhan</p>
<p appHighlight defaultColor="violet">Bidhan</p>
<p [appHighlight]="color" defaultColor="violet">Bidhan</p>
<p *appUnless="true">Bidhan</p> -->
<p>Bidhan</p>
